.box {
    background-color: bisque;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 5px;
    
    
}
.box2 { 
    background-color: bisque;
    width: 600px;
    height: 150px;
    padding: 20px;
    border: 5px solid red;
    margin: 50px;


}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.box3 { 
    background-color: bisque;
    width: 700px;
    height: 150px;
    padding: 20px;
    border: 5px solid blue;
    margin: 50px;
} head {
    background-color: brown;
}